<div *ngIf="!isLoggedIn" class="text-center align-items-center h4 mt-5">Please log in to access this tool</div>
<div *ngIf="isLoading && isLoggedIn" class="text-center align-items-center h4 mt-5">Loading...</div>
@if (isLoggedIn && !isLoading) {
<mat-drawer-container class="main-container" autosize>
    <mat-drawer [opened]="true" class="main-sidenav" mode="side">
        <h6 class="my-1">Groups</h6>

        <ul class="navbar-nav">
            @for (todoGroup of todoGroups; track $index) {

            <li class="nav-item  ms-3">
                <span [ngClass]="todoGroup.id == selectedGroup.id ? 'font-selected' : 'font-not-selected'">
                    <a class="nav-link" (click)="changeGroup(todoGroup)">{{todoGroup.name}}</a>
                </span>
            </li>

            }
            <li>
                <button mat-raised-button (click)="openCreateDialog()">Add Group</button>
            </li>
        </ul>
    </mat-drawer>

    <div class="main-sidenav-content col-12">

        <app-todo-group [todoGroups]="todoGroups" [todoItems]="todoItems"
            [selectedTodoGroup]="selectedGroup" (refreshSection)="refreshSectionClick()" class="col-6"></app-todo-group>

    </div>
</mat-drawer-container>
}