<div class="container">
    <h1 class="my-4">Todo List</h1>
    <app-google-sign-in></app-google-sign-in>
    <div class="card">
        <ul class="list-group list-group-flush">
            <app-todo-list-item [toDoItemResponse]="toDoItemResponse" *ngFor="let toDoItemResponse of toDoItemResponses" (onItemDelete)="onDelete($event)"></app-todo-list-item>
        </ul>
    </div>
    <div class="my-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="New task" form-controlName="" (keydown.enter)="addTask()" [(ngModel)]="newTitle">
            <button class="btn btn-primary" (click)="addTask()">Add</button>
        </div>
    </div>
</div>