<li class="list-group-item d-flex justify-content-between align-items-center">
    
    <input type="text" class="form-control d-inline me-1" placeholder="Enter Task"
        [(ngModel)]="toDoItemResponse.title" 
        (keydown.enter)="onInput($event)"
        (blur)="onBlur()"
        [ngClass]="{'text-decoration-line-through': toDoItemResponse.isComplete}"
        >
    <mat-icon class="text-success me-1" aria-hidden="false" (click)="onComplete()" fontIcon="check_circle"></mat-icon>
    <mat-icon class="text-danger" aria-hidden="false" (click)="onDelete()" fontIcon="delete_forever"></mat-icon>
</li>