<!-- <div>
    <h5 *ngIf="toDoInCompletedItemResponses.length" class="my-1 text-center">Remaining Tasks</h5>
    <ul class="ps-0 task-list" aria-hidden="true">
        <app-todo-item [toDoItemResponse]="toDoItemResponse" *ngFor="let toDoItemResponse of toDoInCompletedItemResponses" (onItemDelete)="onDelete($event)" (onItemComplete)="onComplete($event)"></app-todo-list-item>
    </ul>
</div>
<div>
    <h5 *ngIf="toDoCompletedItemResponses.length" class="my-1 text-center">Completed Tasks</h5>
    <ul class="ps-0 task-list" aria-hidden="true">
        <app-todo-item [toDoItemResponse]="toDoItemResponse" *ngFor="let toDoItemResponse of toDoCompletedItemResponses" (onItemDelete)="onDelete($event)" (onItemComplete)="onComplete($event)"></app-todo-list-item>
    </ul>
</div> -->